vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/
.idea/

# Laravel 5 & Lumen specific
public/fonts
public/scss
public/css
public/js
public/image
public/fontawesome-free-5.9.0-web
public/images
public/bower_components
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json
e.log

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
